Q1: Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum.

Given:

number1 = 20
number2 = 30
Expected Output:

The result is 600

Given:

number1 = 40
number2 = 30
Expected Output:

The result is 70

In [1]:
num1 = int(input('Please Enter an Integer:'))
num2 = int(input('Please Enter an Integer:'))

if (num1*num2) > 1000 :
    print(num1+num2)
else:
    print(num1*num2)

Please Enter an Integer: 20
Please Enter an Integer: 30

600

Q2: Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number.

Expected Output:

Printing current and previous number sum in a given range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [2]:
r = int(input('Please Enter the range:'))
print('Printing current and previous number sum in a given range')

for i in range(r):
    if 0<i<=1:
        print('Current Number {}'.format(i),'Previous Number 0','Sum: {}'.format(2*i-1))
    elif i == 0:
        print('Current Number {}'.format(i),'Previous Number 0','Sum: 0')
    else:
        print('Current Number {}'.format(i),'Previous Number {}'.format(i-1),'Sum: {}'.format(2*i-1))

Please Enter the range: 10

Printing current and previous number sum in a given range
Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

Q3: Given a string, display only those characters which are present at an even index number.
For example str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.
Expected Output:

Orginal String is  pynative
Printing only even index chars
p
n
t
v

In [14]:
given_str = str(input('Please Enter a String: '))

print(given_str[0::2])

Please Enter a String:  pynative

pntv

In [21]:
given_str = str(input('Please Enter a String: '))

for i in range(0,len(given_str)-1,2):
    print(given_str[i])

Please Enter a String:  pynative

p
n
t
v

4. Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string.

For example, removeChars("pynative", 4) so output must be tive. Note: n must be less than the length of the string.

In [24]:
def removeChars(s,n):
    for i in range(0,n+1):
        return s[n:]

In [25]:
removeChars('pynative',4)

'tive'

Q5. Given a list of numbers, return True if first and last number of a list is same.

Expected Output:

Given list is  [10, 20, 30, 40, 10]
result is True
Given list is  [10, 20, 30, 40, 50]
result is False

In [26]:
Given_list = [10, 20, 30, 40, 10]

if Given_list[0] == Given_list[-1]:
    print('True')
else:
    print('False')

True

In [27]:
Given_list = [10, 20, 30, 40, 50]

if Given_list[0] == Given_list[-1]:
    print('True')
else:
    print('False')

False

Q6. Given a list of numbers, Iterate it and print only those numbers which are divisible of 5
Expected Output:

Given list is  [10, 20, 33, 46, 55]
Divisible of 5 in a list
10
20
55

In [28]:
def divby5(l):
    for i in l:
        if i%5==0:
            print(i)

In [29]:
divby5([10,20,33,46,55])

10
20
55

Q7. Return the total count of sub-string “Emma” appears in the given string.

Given string is “Emma is good developer. Emma is a writer”

In [54]:
def cntSString(s):
    s1=s.split(" ")
    cnt=0
    for i in s1:
        if i == 'Emma':
            cnt+=1
    return cnt

In [55]:
cntSString('Emma is good developer. Emma is a writer')

2

Q8. Print the following pattern

1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [72]:
for i in range(6):
    for j in range(i):
        print(i,end=" ")
    print("\t")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Q9. Reverse a given number and return true if it is the same as the original number.

Expected Output:

original number 121
The original and reverse number is the same

original number 125
The original and reverse number is not same

In [83]:
def revNUmchck(i):
    i=str(i)
    if i[0:]==i[::-1]:
        return 'The original and reverse number is the same'
    else:
        return 'The original and reverse number is NOT the same'

In [84]:
revNUmchck(12541)

'The original and reverse number is NOT the same'

Q10.  Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list.

Expected Output:

First List  [10, 20, 23, 11, 17]
Second List  [13, 43, 24, 36, 12]

result List is [23, 11, 17, 24, 36, 12]

In [86]:
l1 = [10, 20, 23, 11, 17]
l2 = [13, 43, 24, 36, 12]

l3=[]

for i in l1:
    if i%2==1:
        l3.append(i)

for i in l2:
    if i%2==0:
        l3.append(i)
        
l3

[23, 11, 17, 24, 36, 12]

Q11. Write a code to extract each digit from an integer, in the reverse order
Expected Output:

For example, if the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [99]:
def revOrd(i):
    while i>0:
        digit = i%10
        i = i//10
        print(digit, end=' ')

In [100]:
revOrd(7536)

6 3 5 7

Q12. Calculate income tax for the given income by adhering to the below rules.

Taxable Income	Rate (%)
First $10,000	0
Next $10,000	10
The remaining	20
Expected Output:

For example, suppose that the taxable income is $45000 the income tax payable is

$10000*0% + $10000*10%  + $25000*20% = $6000.

In [103]:
def taxCal(Income):
    if Income<10000:
        print('The Income tax Payable is $0.')
    elif 10000<Income<20000:
        tax=10000*0.1
        print('The Income tax payable is ${}'.format(tax))
    else:
        tax=10000*0.1 + (Income-20000)*0.2
        print('The Income tax payable is ${}'.format(tax))

In [104]:
taxCal(45000)

The Income tax payable is $6000.0

Q13.  Print multiplication table form 1 to 10

Expected Output:

1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [113]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print('\t\t')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Q14. Print downward Half-Pyramid Pattern with Star (asterisk)

* * * * *  
* * * *  
* * *  
* *  
*

In [114]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

Q16. Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

Expected Output:

Case 1:

base = 2
exponent = 5

2 raises to the power of 5 is: 32 i.e. (2 *2 * 2 *2 *2 = 32)

Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 i.e. (5 *5 * 5 *5 = 625)

In [115]:
def exponent(base,exp):
    return base**exp

In [116]:
exponent(2,5)

32